@font-face {
  font-family: 'Retro Gaming';
  src: url('fonts/RetroGaming.woff2') format('woff2'),
      url('fonts/RetroGaming.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  :root {
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --black: #0f0f0f;
    --green: #8bba2e;
  }

  /* Page */

  body {
    background-color: var(--black);
  }

  .page {
    margin: 0 auto;
    width: clamp(700px, 75%, 1440px);
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
    font-family: "Retro Gaming", var(--system-ui);
  }

  /* Scoreboard */

  .scoreboard {
    display: grid;
    width: 600px;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 100px;
    margin-top: 1em;
    padding: 1em;
    gap: 1em;
    border: 2px solid var(--green);
    color: var(--green);
  }

  .player-one,
  .player-two {
    justify-items: center;
  }

  .player1-name,
  .player2-name {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
            line-clamp: 1;
    font-size: 1.5rem;
    max-width: 10ch; 
  }

  .player1-score,
  .player2-score {
    font-size: 2rem;
  }

  .players-scores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-column: 1/3;
    justify-content: center;
  }

  .player-turn {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-items: center;
    font-size: 1.2rem;
  }

  /* Game board  */

  .container {
    width: 600px;
    height: 600px;
    border: 2px solid var(--green);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .square {
    cursor: pointer;
    border: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: var(--green);
  }

  /* buttons */

  .game-buttons {
    display: flex;
    gap: 1em;
  }

  button {
    cursor: pointer;
    color: var(--green);
    border: 2px solid var(--green);
    background-color: var(--black);
    font-size: 1.1rem;
    padding: 0.5em 1em;
  }

  button:disabled,
  button:disabled:hover {
    cursor: default;
    background-color: var(--green);
    color: var(--black);
  }

  button:hover {
    background-color: hsl(0, 0%, 16%);
    color: hsl(80, 60%, 55%);
  }

  .winner-modal button {
    padding: 0.5em 2em;
  }

  /* Modals */

  form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
  }
  
  form > div {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  input[type=text] {
    background-color: var(--black);
    color: var(--green);
    border: 2px solid var(--green);
    outline: none;
    height: 40px;
  }

  .new-game-btns {
    display: flex;
    gap: 1.5em;
  }

  form > div+div {
    grid-row: 3/4;
  }

  form > div+div+div {
    grid-row: 4/5;
  }

  dialog {
    margin: 0 auto;
    top: 30vh;
    padding: 1.5em;
    color: var(--green);
    background-color: var(--black);
    border: 2px solid var(--green);
  }

  .winner-modal {
    justify-items: center;
    font-size: 1.2rem;
    gap: 1.2em;
  }
  
  .winner-modal p{
    margin-bottom: 1em;
  }

  ::backdrop {
    background-color: var(--black);
    opacity: 0.9;
  }