@font-face {
  font-family: 'Retro Gaming';
  src: url('fonts/RetroGaming.woff2') format('woff2'),
      url('fonts/RetroGaming.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  :root {
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --black: #0f0f0f;
    --green: #8bba2e;
  }

  body {
    background-color: var(--black);
  }

  /* Page */
  .page {
    margin: 0 auto;
    width: clamp(700px, 75%, 1440px);
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Retro Gaming", var(--system-ui);
  }

  .scoreboard {
    display: grid;
    width: 600px;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr, 100px;
    margin-top: 1em;
    padding: 1em;
    gap: 1em;
    border: 2px solid var(--green);
    color: var(--green);
  }

  .player-one,
  .player-two {
    justify-items: center;
  }

  .player1-name,
  .player2-name {
    font-size: 1.5rem;
  }

  .player1-score,
  .player2-score {
    font-size: 2rem;
  }

  .players-scores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-column: 1/3;
    justify-content: center;
  }

  .player-turn {
    grid-row: 2/3;
    grid-column: 1/3;
    justify-items: center;
    font-size: 1.2rem;
  }

  .container {
    width: 600px;
    height: 600px;
    border: 2px solid var(--green);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .square {
    border: 2px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: var(--green);
  }

  .game-buttons {
    display: flex;
    gap: 1em;
  }

  .game-buttons button {
    cursor: pointer;
    color: var(--green);
    border: 2px solid var(--green);
    background-color: var(--black);
    font-size: 1.1rem;
    padding: 8px 16px;
  }

  dialog {
    margin: 0 auto;
    top: 20vh;
    padding: 1.5em;
    color: var(--green);
    background-color: var(--black);
    border: 2px solid var(--green);
  }

  ::backdrop {
    background-color: var(--black);
    opacity: 0.9;
  }